.table-header {
	color: #F37322;
	text-align: center;
	background-color: rgba(24, 124, 100, 0.20);
	font-size: 16px;
	font-family: sans-serif;
	height: 20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.data-text {
	color: white;
	font-family: sans-serif;
	text-align: center;
}

.stat-table {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
	border: 2px solid #187C64;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 2px #09392F;
	border-collapse: collapse;
}

.stat-table .leader {
	background-color: rgba(243, 115, 34, 0.3);
}

.stat-table img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: auto;
}