body {
	margin: 0;
	background-color: #031813;
}

/* 
KP GREEN: #09392F
KP DARK GREEN: #031813
KP ORANGE rgba(243, 115, 34, 0.25);
*/

.topnav {
	overflow: hidden;
	background-color: #09392F;
	position: relative;
}

.topnav #links {
	display: none;
}

.topnav a {
	color: #F37322;
	font-family: sans-serif;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.topnav a.icon {
	background: #09392F;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.topnav a:hover {
	background-color: #F37322;
	color: black;
}

.active {
	background-color: #09392F;
	color: #F37322;
}

.container {
	margin: 10px;
}

#filter-cont {
	display: none;
}

#topfive-container {
	display: block;
}

.container #advanced-button {
	width: 100%;
	font-family: sans-serif;
	border-radius: 20px;
	border: 3px solid #09392F;
	font-size: 15px;
	background-color: #F37322;
	color: #09392F;
	height: 40px;
}

.filter-table select {
	width: 100%;
	text-align: center;
	height: 40px;
	border-radius: 20px;
	border: 3px solid #09392F;
	background-color: #F37322;
	color: #09392F;
	font-size: 15px;
}

.filter-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
